.view-container{
    margin-top:20px;
}

.thumbnail .caption{
    position:relative;
    z-index:40;
}

.caption{
    min-height:165px;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.thumbnail{
    overflow: hidden;
}

.delete-cart{
    background: url(/images/trash_16x16.gif) no-repeat 0 0;
    display: block;
    height: 16px;
    width: 16px;
}
.delete-cart:hover{
    cursor: pointer;
}

.well{
    border-radius: 0 0 4px 4px;
}

.table-list{
    text-align: center;
    width: 100%;
}
.table-list td span{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.table-list tr{
    background-color: #f9f9f9;
    border-bottom:1px solid gray;
}
.table-list tr td{
    padding: 8px;
}
.item-checout .first-column-checkout{
    width: 12%;
}
.item-checout td{
    border-bottom: 1px solid #ddd;
    border-top: none !important;
    text-align: center;
    vertical-align: middle !important;
}
.table-bordered{
    border-collapse: separate;
    border-radius: 4px;
}
.total-user-checkout{
    margin-right: 20px;
    margin-top: 15px;
}
.btn-user-checkout .btn{
    margin-bottom: 10px;
    width: 100%;
}
.item-checout .delete-cart{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.total{
    margin: 5px 5px 5px 0;
}
.check-b{
    margin: 0 5px 5px 0;
}
.modal-cart td{
    border-bottom: 1px solid #ddd !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.modal .table-bordered{
    border-bottom: none !important;
}
.bt-change-cart span.glyphicon{
    cursor: pointer;
}
.x-change{
    margin-right: 5px;
}
.modal-cart-total{
    line-height: 34px;
    margin-right: 15px;
}
.bt-shop{
    text-align: center;
}
.top-m{
    margin-top: 15px;
}
.dropdown .btn-inverse{
    background:#50a8e1;
    border:1px solid #2d6898;
}
.dropdown .btn-inverse:hover{
    background:rgba(80,168,225,.9);
}
.btn-inverse{
    background-color: #363636;
    background-image: linear-gradient(to bottom,#444,#222);
    background-image: -moz-linear-gradient(top,#444,#222);
    background-image: -o-linear-gradient(top,#444,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-repeat: repeat-x;
    border-color: #222 #222 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 0;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.btn-inverse:hover{
    background: #505050;
}
#dLabel{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.open #dLabel:hover{
    color: #444;
}
.open #dLabel{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #E6E6E6;
    box-shadow: none;
    color: #666;
    text-shadow: none;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}
.column{
    border-bottom:1px dashed #E5E5E5;
    clear:both;
    overflow: hidden;
}
.t-details{
    font-size: 1em;
    line-height: 20px;
    width: 100%;
    color: #CCC;
    border-bottom:1px dashed #E5E5E5;
    clear:both;
    overflow: hidden;
}
.column .ab-details-title{
    float:left;
    font-size: 1.5em;
    line-height: 50px;
    color: #666;
}
.ab-details-info{
    float: left;
    line-height: 55px;
    margin-left: 10px;
    font-size:12px;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    /* width: 100%;*/
    display:inline-block !important;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

@media only screen and (max-width : 1200px){
}
@media only screen and (max-width : 992px){
}
@media only screen and (max-width : 768px){
}
@media only screen and (max-width : 480px){
}
@media only screen and (max-width : 320px){
}
